@import 'nib'

.album
  position relative
  margin 0 auto
  width 960px
  height 600px

  background url(images/album.png)

.card
  position absolute

  width 320px
  height 280px

  transition 1s ease-in-out
  perspective 600px

  .front, .back
    absolute 0px 0px

    width 100%
    height 100%

    background-size cover
    transition 1s ease-in-out
    backface-visibility hidden

  .front
    z-index 200

  .back
    z-index 100
    transform rotateY(180deg)

  &.active
    z-index 500

    width 650px
    height 570px

    .front
      transform rotateY(-180deg)

    .back
      z-index 300
      transform rotateY(0deg)

card(name, x, y)
  .card.{name}
    left x
    top y

    &.active
      transform: translate(155px - x, 15px - y)

    .front
      background-image url('images/' + name + '_front.png')

    .back
      background-image url('images/' + name + '_back.png')

card(lvl1, 0px, 36px)
card(lvl2, 320px, 36px)
card(lvl3, 640px, 36px)
card(lvl4, 0px, 316px)
card(lvl5, 320px, 316px)
